{% extends "layout.html" %}
{% block content %}
    <article class="media content-section">
      <div class="media-body">
        <h1 class="article-title about-section">About blog</h1>
        <p class="article-content">Curabitur malesuada libero ullamcorper, pellentesque dui id, accumsan est. Praesent vulputate libero at pulvinar interdum. Maecenas magna mi, ultrices at lorem sed, eleifend lacinia orci. In in ligula quam. Nullam consequat laoreet metus, at viverra libero. Duis sed neque vitae neque tempor euismod. Maecenas nec tortor tincidunt, gravida leo at, consequat erat.</p>
      </div>
    </article>
{% endblock content %}
