{% extends "layout.html" %}
{% block content %}
    {% for comment in comments %}
    <article class="media content-section">
      <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + comment.author.image_file) }}">
      <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="{{ url_for('users.user_posts', username=comment.author.username) }}">{{ comment.author.username }}</a>
        <small class="text-muted">{{ comment.date_commented.strftime('%Y-%m-%d %H:%M') }}</small>
      </div>
      <p class="article-content">{{ comment.content }}</p>
      </div>
    </article>
    {% endfor %}
{% endblock content %}
